#wr_prof{
    margin-top: 55px;
    margin-left: 200px;
    margin-bottom: 100px;

    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 25px;
    
}
#wr_pof_hed{
    margin-left: 80px;
}
#wr_prof_sbmt{
    margin-left: 150px;
    width: 100px;
}
