{% extends 'user_interface.html' %}


{% block title%}
  User_edit_profile
{%endblock%}

{%block body%}
<style>
    #paragraph{
        margin-left: 450px;
        margin-top: 50px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        
    }
</style>
<div id="container">
    <div class="border w-25" id="paragraph">
        The website EASY BUILD developed for the people to easily access different services in the field of construction and maintenance of buildings,houses etc.... It is an interface between
a customer and worker. This website mainly focuses those who are searching for any job in the field of construction and maintenance can easily register in this site.In this way we can
help many people and reduce the unemployment in this field.Also the user can easily find out the best qualified and experienced workers suitable for their related needs from their
nearest location with the help of this website. Really this website will be usefull one for the society in this innovative world.Nowadays we can't imagine a World without the Internet
,thatis we easily access anything in the World in our fingertip with the help of Internet.So this is a small innovation from our side in this filed to the society.
    </div>
</div>

{%endblock%}