{% extends 'user_interface.html' %}


{% block title%}
  User_edit_profile
{%endblock%}

{%block body%}
<style>
    #bdy{
        margin-top: 100px;
        margin-left: 200px;

        padding-top: 50px;
        padding-left: 150px;
        padding-bottom: 50px;
        padding-right: 50px;
    }
</style>
<div class="container">
    <div class="border w-50" id="bdy">
        <h3>Phone: +108 85245662</h3><br><br>
        <h3>Email: eaybuild@gmail.com</h3><br><br>
        <h3>Twiter: @easybuild</h3><br><br>
        <h3>Facebook: easybuild</h3><br><br>
    </div>
</div>



{%endblock%}